body{
    background-color: rgb(212, 219, 219);
}
.nav{
    display: flex;
    justify-content: end;
    font-family: "Spline Sans", sans-serif;
    cursor: pointer;
}
.btn{
    font-weight: bold;
    width: 70px;
    height: 35px;
    margin: 0.5rem;
    border-radius: 10px;
    cursor: pointer;
}
.left-section{
    width: 750px;
    height: 700px;
    background-color: rgba(177, 69, 146, 0.568);
    border-radius: 10px;
}
.right-section{
    width: 750px;
    height: 700px;
    background-color: rgb(76, 106, 228);
    border-radius: 10px;
margin-left: 47rem;
margin-top: -43.7rem;
}
.btn:hover{
background-color: rgb(17, 17, 17);
color: rgb(248, 246, 244);
font-weight: bold;

}